/*
  The Name:Cravings Cafe HTML Tplate
  Author: 
  Support: 
  Description: Creative  HTML5 tplate.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
2.header section 
3.banner section
-----------------------------------
*/
/* google fonts call */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-size: 16px;
  line-height: 1.47;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #242F45;
}


/* deafult css start */



/* font family */
.tk-montserrat-font{
  font-family: "Montserrat", sans-serif !important;
}
.tk-proxima-nova { 
  font-family: "proxima-nova",sans-serif !important; 
}
.tk-sorts-mill-goudy { 
  font-family: "sorts-mill-goudy",serif !important; 
}
/* container */
.container{
  max-width: 1161px;
}
.container-sm{
  max-width: 1112px;
}


a{
  text-decoration: none;
  color: #0077C8;
}
a:hover{
  color: #000;
}
img{
  max-width: 100%;
  height: auto;
}
/* heading */
h1,h2,h3,h4,h5,h6{
  color: #0077C8;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.225;
}


h1{
  font-size: 40px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 25px;
}
h5{
  font-size: 22px;
}
h6{
  font-size: 19px;
}

.lh-1{
  line-height: 1;
}

.sl-btn {
  display: inline-block;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
  color: #0077C8;
  border: 2px solid #0077C8;
  transition: all 0.3s linear;
  padding: 8px 24px;
}

/* text color */
.ebony-clay{
  color: #242F45;
}

/* bg color */
.bg-ebony-clay{
  background-color: #242F45;
}

.mb-p p:last-child{
  margin-bottom: 0;
}
.bg-fix{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* nice select css */
.nice-select {
  background-color: #fff;
  border-radius: 0px;
  border: 0px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: auto;
  line-height: 1.2;
  padding: 13px 60px 12px 21px;
  box-shadow: 0px 6px 12px #00000029;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #fff;
}
.nice-select:after {
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  margin-top: -7px;
  height: 14px;
  width: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/our-expertise/nice-select.svg');
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center;
}
.nice-select.open::after {
  transform: rotate(-180deg);
}
.nice-select:hover {
  border-color: #fff;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 0 1px #fff;
  z-index: 9;
}
/* nice select css */
/* deafult css end */

/* header section start */
.header-area{
  position: absolute;
  left: 0;
  top: 14px;
  width: 100%;
  z-index: 99;
}
.sl-top-header {
  margin-bottom: 13px;
}
.sl-top-header a {
  color: #E8E8E8;
  line-height: 1.31;
  display: inline-block;
}
.login-btn {
  background: #464646;
  border: 0.5px solid #FFFFFF;
  padding: 8px 28px;
  margin-left: 58px;
}
.main-menu nav ul  {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}
.main-menu nav ul li {
  display: inline-block;
  margin-right: 75px;
}
.main-menu nav ul li:last-child{
  margin-right: 0;
}
.main-menu nav ul li a {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  padding: 15px 0;
  transition: all 0.3s linear;
}
.main-menu nav ul  li:hover > a{
  color: #0077C8;
}
.main-menu nav ul li:hover > .sub-menu{
  opacity: 1;
  visibility: visible;
}
.main-menu nav ul li .sub-menu {
  position: absolute;
  background: #fff;
  width: 290px;
  padding: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.main-menu nav ul li .sub-menu li {
  display: inline;
  padding: 0;
}
.main-menu nav ul li .sub-menu li a {
  color: #242F45;
  display: inline-block;
  padding: 0;
  padding-bottom: 26px;
  font-weight: 500;
  letter-spacing: 0;
}
.main-menu nav ul li .sub-menu li > a:hover{
  color: red;
}
.main-menu nav ul li .sub-menu li:last-child a{
  padding-bottom: 0;
}
.main-menu nav ul li .sub-menu li .sub-menu {
  top: 32%;
  left: 100%;
}

/* mobile version start */
.m-btn {
  background: #242F45;
  padding: 7.5px 13px;
  gap:6px;
}
.humbarger{
  gap: 2px;
}
.humbarger span {
  height: 2px;
  width: 21px;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
}
.m-btn .inner-text {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

/* menu offcanvas design start */
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 600px;
  --bs-offcanvas-color: #FFFFFF;
  --bs-offcanvas-bg: #242F45;
}
.mobile-menu-wrapper ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.close-btn .humbarger span:first-child {
  transform: rotate(45deg) translateX(3px);
  transform-origin: center;
}
.close-btn .humbarger span:last-child {
  transform: rotate(-45deg) translateX(3px);
  transform-origin: center;
}
.m-btn.close-btn{
  background: #0077C8;
}
.offcanvas-header {
  padding: 23px 26px;
}
.offcanvas-body {
  padding: 34px 57px 98px;
}
.mobile-menu-wrapper ul li a {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  padding-bottom: 25px;
  display: block;
  transition: all 0.3s linear;
}
.menu-info{
  position: relative;
  z-index: 1;
}
.mobile-menu-wrapper ul li a.menu-info::before {
  position: absolute;
  right: 0;
  content: "";
  top: 12px;
  height: 2px;
  width: 18px;
  background: #fff;
}
.mobile-menu-wrapper ul li a.menu-info::after {
  position: absolute;
  right: 8px;
  content: "";
  top: 4px;
  height: 18px;
  width: 2px;
  background: #fff;
  transition: all 0.3s linear;
}
.mobile-menu-wrapper ul li a.menu-info.active::after{
  opacity: 0;
  visibility: hidden;
}
.mobile-menu-wrapper ul li:hover > a{
  color: #0977C8;
}
.mobile-menu-wrapper ul li .sub-menu {
  padding-bottom: 32px;
  display: none;
}
.mobile-menu-wrapper ul li .sub-menu li a {
  font-size: 18px;
  line-height: 1;
  padding-bottom: 20px;
}
.mobile-menu-wrapper ul li .sub-menu > li a:hover{
  color: red;
}
.mobile-menu-wrapper ul li .sub-menu li:last-child a{
  padding-bottom: 0;
}
.mobile-menu-wrapper ul li:last-child a{
  padding-bottom: 0;
}
/* menu offcanvas design end*/

/* mobile version end */
/* header section end */

/* banner section start */
.banner-section {
  min-height: 100vh;
}
.banner-section::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3B3B3B;
  opacity: 0.25;
  mix-blend-mode: multiply;
  content: "";
  z-index: 2;
}
.banner-section::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 277px;
  width: 100%;
  background: transparent linear-gradient(180deg, #000000 0%, #24242400 74%, #31313100 100%) 0% 0% no-repeat padding-box;
  opacity: 0.56;
  content: "";
  z-index: 3;
}
.video-area{
  z-index: 1;
}

/* banner section end */

/* wealth management section start*/
.wealth-management-area {
  padding: 135px 0 125px;
}
.wealth-management-area h4 {
  margin-bottom: 75px;
}
.wealth-management-area .row{
  --bs-gutter-x:45px;
}

.wealth-management-wrapper h2 {
  margin-bottom: 15px;
}
.wealth-management-wrapper p {
  font-size: 17px;
}
.wealth-management-area .border-right::before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #0077C8;
  content: "";
}
.wealth-management-area .border-right:last-child:before {
  display: none;
}

/* wealth management section end */

/* full width video section start */
.full-width-video-area {
  padding-bottom: 111px;
}
.full-width-video-wrapper::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #4B4B4B;
  opacity: 0.39;
  mix-blend-mode: color;
  content: "";
  z-index: 2;
}
.single-logo {
  right: 40px;
  bottom: 28px;
  z-index: 1;
}
/* full width video section end */

/* invested area section start */
.invested-area {
  padding: 115px 0 140px;
}
.invested-time-wrapper span {
  font-size: 24px;
}
.invested-wrapper p {
  margin-bottom: 30px;
}
/*  invested area section end */

/* our expertise-area start */


.main-bg{
  opacity: 0.32;
  z-index: 1;
}
.bg-linear{
  background: transparent linear-gradient(90deg, #FFFFFF 0%, #F9F9F9E0 25%, #DDDDDD55 100%) 0% 0% no-repeat padding-box;
  z-index: 2;
}
.bg-mix-blend-mode{
  background: #141414;
  mix-blend-mode: saturation;
  z-index: 3;
}
.expertise-logo {
  right: 60px;
  bottom: 50px;
  z-index: 4;
  opacity: 0.08;
  mix-blend-mode: multiply;
}
.our-expertise-area{
  padding: 275px 0 180px;
}
.select-wrapper p {
  font-size: 20px;
  color: #242F45;
}
.interested-content-wrapper {
  margin-top: 92px;
  min-height: 207px;
}
.interested-content-wrapper p {
  margin-bottom: 35px;
}
.our-expertise-area .container{
  z-index: 5;
}
/* our expertise-area end */

/* footer area section start */
.footer-area {
  padding: 81px 0 10px;
}
.footer-logo {
  border-bottom: 0.5px solid #868686;
  padding-bottom: 18px;
  margin-bottom: 46px;
}
.newsletter {
  max-width: 432px;
}
.newsletter h6 {
  font-size: 18px;
  color: #C6C6C6;
  line-height: 1.5;
}
.newsletter-input-wrapper input {
  background: transparent;
  border: 0;
  border-bottom: 2.5px solid #0977C8;
  color: #6F6F6F;
  padding: 3px 0px;
}
input:focus{
  border: 0;
  border-bottom: 2.5px solid #0977C8;
  outline: none;
}
.newsletter-input-wrapper .submit-btn {
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  color: #0077C8;
}
.footer-wrapper ul , .copy-right-wrapper ul  {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-wrapper h5 {
  font-size: 16px;
  line-height: 1.18;
  color: #A5A5A5;
  margin-bottom: 20px;
}
.footer-wrapper ul li a {
  font-size: 16px;
  padding-bottom: 10px;
  display: inline-block;
  color: #E6E6E6;
  transition: all 0.3s linear;
}
.footer-wrapper ul li a:hover{
  color: #0977C8;
}
.office, .office h6{
  font-size: 15px;
  color: #E6E6E6;
  margin-bottom: 0;
}
.office {
  margin-bottom: 20px;
}
.office address a{
  color: #E6E6E6;
  text-decoration: underline;
  transition: all 0.3s linear;
}
.office address a:hover{
  text-decoration: none;
}
.footer-wrapper-right-site .footer-wrapper-info:last-child{
  flex-basis: 184px;
}
.footer-wrapper-info {
  padding: 0 12px;
}
.footer-wrapper .office:last-child{
  margin-bottom: 0;
}
.main-footer-links {
  border-bottom: 0.5px solid #868686;
  padding-bottom: 78px;
  margin-bottom: 30px;
}
.footer-copyright{
  color: #868686;
}
.copy-right-wrapper ul .copy-right-link {
  color: #868686;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  font-family: "proxima-nova",sans-serif;
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #868686;
  transition: all 0.3s linear;
}
.copy-right-wrapper ul li:first-child.copy-right-link{
  color: #868686;
}
.copy-right-wrapper ul .copy-right-link:hover{
  color: #fff;
}
.copy-right-wrapper ul li:first-child.copy-right-link{
  padding-left: 0px;
}
.copy-right-wrapper ul li:last-child .copy-right-link{
  padding-right: 0px;
  border-right: 0px solid #868686;
}
.copy-right-wrapper ul li{
  display: inline-block;
}
.copy-right-wrapper ul li:last-child{
  padding-right: 0;
}
.copy-right-end-wrapper{
  gap: 51px;
}
.copy-right-end-wrapper .follow-likdin {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}
.copy-right-end-wrapper .follow-likdin a {
  margin-left: 8px;
  display: inline-block;
}
.copy-right-end-wrapper .follow-likdin a svg path#Path_267{
  transition: all 0.3s linear;
}
.copy-right-end-wrapper .follow-likdin a:hover svg path#Path_267{
  fill:#fff;
}
.copy-right-end-wrapper a img {
  opacity: 0.3;
  transition: all 0.3s linear;
}
.copy-right-end-wrapper a img:hover{
  opacity: 1;
}
/* footer area section end */