/*
  The Name:Cravings Cafe HTML Tplate
  Author: 
  Support: 
  Description: Creative  HTML5 tplate.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
2.header section 
3.banner section
-----------------------------------
*/
/* google fonts call */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-size: 16px;
  line-height: 1.47;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #242F45;
}


/* deafult css start */

/* fonts call */
@font-face {
  font-family: 'HelveticaNeue' , sans-serif;
  src: url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
      url('../fonts/HelveticaNeueRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.z-5{
  z-index: 5;
}



/* font family */
.tk-montserrat-font{
  font-family: "Montserrat", sans-serif !important;
}
.tk-proxima-nova { 
  font-family: "proxima-nova",sans-serif !important; 
}
.tk-sorts-mill-goudy { 
  font-family: "sorts-mill-goudy",serif !important; 
}
/* container */
.container-xl{
  max-width: 1161px;
}
.container{
  max-width: 1110px;
}

.container-xs{
  max-width: 974px;
}


a{
  text-decoration: none;
  color: #0077C8;
}
a:hover{
  color: #000;
}
img , svg{
  max-width: 100%;
  height: auto;
}
/* heading */
h1,h2,h3,h4,h5,h6{
  color: #0077C8;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.225;
}


h1{
  font-size: 40px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 25px;
}
h5{
  font-size: 22px;
}
h6{
  font-size: 19px;
}

.lh-1{
  line-height: 1;
}

.sl-btn {
  display: inline-block;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
  color: #0077C8;
  border: 2px solid #0077C8;
  transition: all 0.3s linear;
  padding: 8px 24px;
}

/* text color */
.ebony-clay{
  color: #242F45;
}

/* bg color */
.bg-ebony-clay{
  background-color: #242F45;
}
.bg-french-blue{
  background-color: #0077C8;
}
.bg-alabaster {
  background-color:#FAFAFA;
}



.mb-p p:last-child{
  margin-bottom: 0 !important;
}
.bg-fix{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/* modal css */
.modal-backdrop {
  --bs-backdrop-bg: #242F45;
  --bs-backdrop-opacity: 0.91;
}
.modal {
  --bs-modal-width: 624px;
  --bs-modal-bg: #242F45;
  --bs-modal-border-radius: 0;
  --bs-modal-border-color: transparent;
}
.modal-header {
  padding: 33px;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-close {
    --bs-btn-close-bg: none;
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-focus-shadow: none;
    --bs-btn-close-focus-opacity: 1;
}
.btn-close span {
  display: inline-block;
  font-family: 'HelveticaNeue' , sans-serif;
  font-size: 28px;
  line-height: 1;
  color: #0077C8;
  font-weight: 400;
  transition: all 0.3s linear;
}
.team-modal .btn-close span{
  color: #242F45;
}
.btn-close span:hover{
  color: #fff;
}
.team-modal .btn-close span:hover{
  color: #0077C8;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0px 110px 100px 64px;
}
.modal-body p {
  font-size: 17px;
  line-height: 1.37;
  margin-bottom: 32px;
}
.modal-info-wrapper h2 {
  font-size: 30px;
  margin-bottom: 23px;
}
.modal-body .modal-info-wrapper p {
  color: #0077C8;
  font-size: 21px;
  line-height: 1.45;
}

/* team modal */

.team-modal.modal {
  --bs-modal-width: 1035px;
  --bs-modal-bg: transparent;
  --bs-modal-border-radius: 0;
  --bs-modal-border-color: transparent;
}
.team-modal.modal .modal-content::before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 120px);
  background-color: #fff;
  content: "";
  z-index: -1;
}

.team-modal.modal .row{
  --bs-gutter-x: 75px;
}
.team-modal.modal .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 108px 60px 0;
}
.team-modal-content h5 {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
.team-modal-content span {
  display: inline-block;
  font-size: 22px;
  color: #707070;
  font-weight: 500;
  padding-bottom: 14px;
}
.team-modal-content span::before{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 53px;
  background-color: #707070;
  content: "";
}
.team-modal-inner-content {
  padding-top: 28px;
}
.team-modal-inner-content p {
  font-size: 17px;
  line-height: 1.17;
  margin-bottom: 18px;
  color: #4F5F62;
}
/* team modal */
/* modal css */



/* nice select css */
.nice-select {
  background-color: #fff;
  border-radius: 0px;
  border: 0px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: auto;
  line-height: 1.2;
  padding: 13px 60px 12px 21px;
  box-shadow: 0px 6px 12px #00000029;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #fff;
}
.nice-select:after {
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  margin-top: -7px;
  height: 14px;
  width: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/our-expertise/nice-select.svg');
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center;
}
.nice-select.open::after {
  transform: rotate(-180deg);
}
.nice-select:hover {
  border-color: #fff;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 0 1px #fff;
  z-index: 9;
}
/* nice select css */

input:focus{
  border: 0;
  border-bottom: 2.5px solid #0977C8;
  outline: none;
}
textarea{
  border: 0;
}
textarea:focus{
  border: 0;
  outline: 0;
}
/* deafult css end */

/* header section start */
.header-area{
  position: absolute;
  left: 0;
  top: 14px;
  width: 100%;
  z-index: 99;
}
.sl-top-header {
  margin-bottom: 13px;
}
.sl-top-header a {
  color: #E8E8E8;
  line-height: 1.31;
  display: inline-block;
}
.login-btn {
  background: #464646;
  border: 0.5px solid #FFFFFF;
  padding: 8px 28px;
  margin-left: 58px;
}
.main-menu nav ul  {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}
.main-menu nav ul li {
  display: inline-block;
  margin-right: 75px;
}
.main-menu nav ul li:last-child{
  margin-right: 0;
}
.main-menu nav ul li a {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  padding: 15px 0;
  transition: all 0.3s linear;
}
.main-menu nav ul  li:hover > a{
  color: #0077C8;
}
.main-menu nav ul li:hover > .sub-menu{
  opacity: 1;
  visibility: visible;
}
.main-menu nav ul li .sub-menu {
  position: absolute;
  background: #fff;
  width: 290px;
  padding: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.main-menu nav ul li .sub-menu li {
  display: inline;
  padding: 0;
}
.main-menu nav ul li .sub-menu li a {
  color: #242F45;
  display: inline-block;
  padding: 0;
  padding-bottom: 26px;
  font-weight: 500;
  letter-spacing: 0;
}
.main-menu nav ul li .sub-menu li > a:hover{
  color: red;
}
.main-menu nav ul li .sub-menu li:last-child a{
  padding-bottom: 0;
}
.main-menu nav ul li .sub-menu li .sub-menu {
  top: 32%;
  left: 100%;
}

/* mobile version start */
.m-btn {
  background: #242F45;
  padding: 7.5px 13px;
  gap:6px;
}
.humbarger{
  gap: 2px;
}
.humbarger span {
  height: 2px;
  width: 21px;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
}
.m-btn .inner-text {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

/* menu offcanvas design start */
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 600px;
  --bs-offcanvas-color: #FFFFFF;
  --bs-offcanvas-bg: #242F45;
}
.mobile-menu-wrapper ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.close-btn .humbarger span:first-child {
  transform: rotate(45deg) translateX(3px);
  transform-origin: center;
}
.close-btn .humbarger span:last-child {
  transform: rotate(-45deg) translateX(3px);
  transform-origin: center;
}
.m-btn.close-btn{
  background: #0077C8;
}
.offcanvas-header {
  padding: 23px 26px;
}
.mobile-offcanvas .offcanvas-body {
  padding: 34px 57px 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-wrapper ul li a {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  padding-bottom: 25px;
  display: block;
  transition: all 0.3s linear;
  letter-spacing: 2.4px;
}
.mobile-client-btn {
  font-size: 18px;
  color: #B4B9C3;
  letter-spacing: 1.8px;
  font-weight: 500;
}
.menu-info{
  position: relative;
  z-index: 1;
}
.mobile-menu-wrapper ul li a.menu-info::before {
  position: absolute;
  right: 0;
  content: "";
  top: 12px;
  height: 2px;
  width: 18px;
  background: #fff;
}
.mobile-menu-wrapper ul li a.menu-info::after {
  position: absolute;
  right: 8px;
  content: "";
  top: 4px;
  height: 18px;
  width: 2px;
  background: #fff;
  transition: all 0.3s linear;
}
.mobile-menu-wrapper ul li a.menu-info.active::after{
  opacity: 0;
  visibility: hidden;
}
.mobile-menu-wrapper ul li:hover > a{
  color: #0977C8;
}
.mobile-menu-wrapper ul li .sub-menu {
  padding-bottom: 32px;
  display: none;
  padding-left: 25px;
}
.mobile-menu-wrapper ul li .sub-menu li a {
  font-size: 18px;
  line-height: 1;
  padding-bottom: 20px;
  letter-spacing: normal;
}
.mobile-menu-wrapper ul li .sub-menu > li a:hover{
  color: red;
}
.mobile-menu-wrapper ul li .sub-menu li:last-child a{
  padding-bottom: 0;
}
.mobile-menu-wrapper ul li:last-child a{
  padding-bottom: 0;
}
/* menu offcanvas design end*/

/* mobile version end */
/* header section end */

/* banner section start */
.banner-section {
  min-height: 100vh;
}
.banner-section.version-2 {
  min-height: 440px;
}
.banner-section::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3B3B3B;
  opacity: 0.25;
  mix-blend-mode: multiply;
  content: "";
  z-index: 2;
}
.banner-section.version-2::before{
  opacity: 0.11;
}
.banner-section.version-3 {
  min-height: 203px;
}
.banner-section.version-3::before {
  mix-blend-mode: normal;
  opacity: 65%;
}
.banner-section::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 277px;
  width: 100%;
  background: transparent linear-gradient(180deg, #000000 0%, #24242400 74%, #31313100 100%) 0% 0% no-repeat padding-box;
  opacity: 0.56;
  content: "";
  z-index: 3;
}
.video-area{
  z-index: 1;
}
.scroll-btn {
  letter-spacing: 1.12px;
}

/* banner section end */

/* wealth management section start*/
.wealth-management-area {
  padding: 135px 0 125px;
}
.wealth-management-area h4 {
  margin-bottom: 75px;
}
.wealth-management-area .row{
  --bs-gutter-x:45px;
}

.wealth-management-wrapper h2 {
  margin-bottom: 15px;
}
.wealth-management-wrapper p {
  font-size: 17px;
}
.wealth-management-area .border-right::before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #0077C8;
  content: "";
}
.wealth-management-area .border-right:last-child:before {
  display: none;
}

/* wealth management section end */

/* full width video section start */
.full-width-video-area {
  padding-bottom: 111px;
}
.full-width-video-wrapper::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #4B4B4B;
  opacity: 0.39;
  mix-blend-mode: color;
  content: "";
  z-index: 2;
}
.single-logo {
  right: 40px;
  bottom: 28px;
  z-index: 1;
}
/* full width video section end */

/* invested area section start */
.invested-area {
  padding: 115px 0 140px;
}
.invested-time-wrapper span {
  font-size: 24px;
}
.invested-wrapper p {
  margin-bottom: 30px;
}
/*  invested area section end */

/* our expertise-area start */


.main-bg{
  opacity: 0.32;
  z-index: 1;
}
.bg-linear{
  background: transparent linear-gradient(90deg, #FFFFFF 0%, #F9F9F9E0 25%, #DDDDDD55 100%) 0% 0% no-repeat padding-box;
  z-index: 2;
}
.bg-mix-blend-mode{
  background: #141414;
  mix-blend-mode: saturation;
  z-index: 3;
}
.expertise-logo {
  right: 60px;
  bottom: 50px;
  z-index: 4;
  opacity: 0.08;
  mix-blend-mode: multiply;
}
.our-expertise-area{
  padding: 275px 0 180px;
}
.select-wrapper p {
  font-size: 20px;
  color: #242F45;
}
.interested-content-wrapper {
  margin-top: 92px;
  min-height: 207px;
}
.interested-content-wrapper p {
  margin-bottom: 35px;
}

/* our expertise-area end */


/* financial-planning-area start */
.content-block-wrapper h1 {
  margin-bottom: 20px;
}
.content-block-wrapper p {
  font-size: 20px;
  margin-bottom: 15px;
}
.financial-planning-area {
  padding: 94px 0 76px;
}
.content-block-info {
  padding-left: 54px;
  max-width: 1034px;
}
.financial-planning-area.swm-sport-area .content-block-info{
  min-height: auto;
}
/*  financial-planning-area end */

/* how-do-you-area section start */
.how-do-you-area{
  padding: 100px 0 64px;
}
.how-do-you-area.cricle-bg-info{
  padding: 127px 0 160px;
}
/* how-do-you-area section end */

/* swm card section start */
.swm-card-wrapper {
  max-width: 453px;
  font-size: 17px;
  padding: 34px 0;
}
.swm-section-info::before {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background: #95ACBA;
  opacity: 0.6;
  content: "";
  transform: translateX(-50%);
  z-index: -1;
}
.swm-section-info::after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: calc(50% + 92px);
  background: #95ACBA;
  opacity: 0.6;
  content: "";
  transform: translate(calc(50% - 92px), -50%);
  z-index: -1;
}
.swm-section-info .col-lg-6:nth-child(2) .swm-card-wrapper , .swm-section-info .col-lg-6:nth-child(4) .swm-card-wrapper{
  margin-right: 0;
  margin-left: auto;
}
.swm-center-icon {
  height: 24px;
  width: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swm-section-wrapper .container{
  max-width: 1065px;
}
/* swm card section end */


/* services area start */
.services-area {
  padding: 75px 0 60px;
  margin-top: 113px;
}
.service-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.service-wrapper ul li {
  position: relative;
  z-index: 1;
  padding-left: 16px;
  padding-bottom: 18px;
}
.services-wrapper {
  max-width: 536px;
}
.services-wrapper p {
  font-size: 17px;
  line-height: 1.25;
  margin-bottom: 20px;
}
.service-wrapper ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
}
.service-wrapper ul li::before{
  position: absolute;
  left: 0;
  top: 6px;
  height: 4px;
  width: 4px;
  background-color: #75D4F4;
  content: "";
  border-radius: 50%;
}
.advisor-img-1 {
  top: -50px;
  height: calc(100% + 50px);
  left: 50%;
  z-index: -1;
  object-fit: cover;
}
.service-wrapper ul li:last-child{
  padding-bottom: 0;
}
/* services area end */

/* advisor section start  */
.advisor-area{
  padding: 74px 0 90px;
}
.advisor-img-2 {
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-100%);
  z-index: -1;
  object-fit: cover;
}
.advisor-area .services-wrapper {
  padding-left: 38px;
}
/* advisor section end */

/* featured article start */
.featured-article::before{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FCF9F4;
  content: "";
  z-index: -1;
}
.featured-article-info {
  max-width: 520px;
  padding-left: 76px;
  font-size: 17px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.featured-article-info h1 {
  color: #4F5F62;
}
.filter-wrapper{
  margin-bottom: 84px;
}
.filter-wrapper span {
  font-size: 17px;
  display: inline-block;
  font-weight: 600;
  line-height: 1.17;
  margin-right: 54px;
}
.news-event-area {
  padding: 56px 0 171px;
}
.filter-btn{
  font-size: 17px;
  line-height: 1;
  color: #4F5F62;
  font-weight: 400;
  padding: 13px 45px;
  border: 1px solid #95ACBA;
  background: #FFFFFF;
  transition: all 0.3s linear;
}
.filter-btn:hover{
  background-color: #0077C8;
  color: #fff;
  border-color: #0077C8;
}
.filter-btn-wrapper{
  gap: 40px;
}
.news-event-info h3 {
  font-size: 31px;
  color: #4F5F62;
}
.news-event-info {
  font-size: 17px;
  max-width: 499px;
}
.news-event-wrapper .row {
  --bs-gutter-x: 53px;
  --bs-gutter-y: 62px;
}


/* featured article end */

/* single-article section start */
.single-article-section {
  padding: 53px 0 140px;
}
.socials-btn {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.socials-info-wrapper .socials-btn:first-child{
  background-color: #395799;
}
.socials-info-wrapper .socials-btn:nth-child(2){
  background-color: #1ca1f2;
}
.socials-info-wrapper .socials-btn:nth-child(3){
  background-color: #0077b5;
}
.socials-info-wrapper .socials-btn:nth-child(4){
  background-color: #707070;
}
.socials-info-wrapper .socials-btn svg {
  height: 10px;
  width: 10px;
}
.socials-info-wrapper {
  margin-top: 22px;
  margin-bottom: 45px;
}
.single-article-section .sl-btn {
  margin-bottom: 54px;
}
.single-article-info {
  max-width: 778px;
}
.single-article-inner-content .post-title h1 {
  font-size: 31px;
  color: #4F5F62;
}
.single-article-inner-content .post-title span{
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  color: #4F5F62;
}
.single-aricle-inner p {
  font-size: 17px;
  margin-bottom: 20px;
}

/* single-article section end */


/* our Process  start */

.content-block-wrapper .vision-title {
  font-size: 40px;
  margin-bottom: 20px;
}
.our-process-info .content-block-wrapper {
  margin-bottom: 55px;
}
.our-process-info .content-block-wrapper:last-child{
  margin-bottom: 0;
}

.plan-section-area{
  padding: 190px 0 158px;
}
.our-process-info .content-block-wrapper p {
  margin-bottom: 27px;
}
/* our Process end */

/* plan details section start */
.plan-details-area {
  padding: 96px 0 29px;
}
.plan-info-content p {
  font-size: 20px;
}

.plan-title h2 {
  font-size: 35px;
  max-width: 412px;
}
.plan-content {
  padding: 55px 0;
  transition: all 0.3s linear;
}
.plan-content:hover{
  background-color: #FAFAFA;
}



/* plan details section end */

/* fun fat section start */
.counter-info {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  color: #0077C8;
}
.counter::before {
  position: absolute;
  left: 50%;
  bottom: -15px;
  height: 1.5px;
  width: 69px;
  background: #707070;
  content: "";
  transform: translateX(-50%);
}
.counter-wraper h5 {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #242F45;
  max-width: 278px;
}

.fun-fat-area {
  padding: 135px 0;
}
/* fun fat section end */

/*  our team section start  */

.our-team-area .content-block-info {
  max-width: 996px;
  padding-left: 92px;
}
.our-team-area .content-block-info p {
  font-size: 17px;
}
.our-team-area .content-block-wrapper {
  margin-bottom: 85px;
}
.our-team-area {
  padding: 143px 0 157px;
}

.team-card-content h5 {
  font-size: 24px;
}
.team-card-content p{
  font-size: 20px;
}
.team-img:after {
  content: "";
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border: 1.5px solid #0977C8;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: -1;
  transform: scale(0.93);
  transition: all 0.3s linear;
  opacity: 0;
}

.team-card-wrapper:hover .team-img:after , .team-modal .team-img:after{
  transform: scale(1);
  opacity: 1;
}

.our-team-area .row {
  --bs-gutter-x: 38px;
  --bs-gutter-y: 60px;
}


/* our team section end */

/*  contact section start */
.contact-form-area {
  padding: 94px 0 117px;
}
.contact-form-area h1 {
  margin-bottom: 30px;
}

/*  contact section end */
.contact-form .form-group label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.18;
  color: #0077C8;
  margin-bottom: 10px;
}
.contact-form .form-group{
  margin-bottom: 30px;
}
.contact-form .form-group input, .contact-form .form-group textarea {
  width: 100%;
  background-color: #FAFAFA;
  border: 0;
  padding: 8px 10px;
  color: #4F5F62;
  font-size: 17px;
  line-height: 1.17;
}
.contact-form .form-group textarea{
  padding: 11px 29px;
}
.contact-bottom-btn{
  margin-top: 40px;
}
.map-img::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
  content: "";
  z-index: 1;
}
.location-info {
  padding-top: 80px;
}
.map-area {
  padding-bottom: 135px;
}
.location-info .address-title {
  font-size: 40px;
}

.location-info p {
  color: #0077C8;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
/* contact section end */

/* sugarloaf-gives-area start */
.sugarloaf-gives-area {
  padding: 81px 0 93px;
}
.sugarloaf-gives-content {
  font-size: 20px;
  max-width: 496px;
}
.sugarloaf-gives-area .container {
  max-width: 1170px;
}
.sugarloaf-gives-area .row {
  --bs-gutter-x: 60px;
}
.sticky-title{
  font-size: 50px;
}
/* sugarloaf-gives-area end */

/* cta-area section start */
.cta-area {
  padding: 90px 0 151px;
}
.cta-content h3 {
  color: #000000;
  font-size: 33px;
  margin-bottom: 15px;
}
.cta-content .number {
  font-size: 33px;
  display: block;
  font-weight: 600;
  color: #0077C8;
  line-height: 1;
}
.cta-content .sl-btn {
  margin-top: 35px;
}
.next-page-area {
  padding-bottom: 89px;
}
.cta-area::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 356px;
  background-color: #FAFAFA;
  content: "";
  z-index: -1;
  transform: translateY(-50%);
  margin-top: -29px;
}
.cta-bg {
  left: 50%;
  top: 50%;
  opacity: 47%;
  transform: translate(-50%, -50%);
  height: 281px;
  z-index: -1;
}

.cta-btn-wrapper a {
  color: #242F45;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  max-width: 536px;
  transition: all 0.3s linear;
}
.cta-btn-wrapper a:hover{
  color: #0077b5;
}

/* cta-area section end */






/* footer area section start */
.footer-area {
  padding: 81px 0 10px;
}
.footer-logo {
  border-bottom: 0.5px solid #868686;
  padding-bottom: 18px;
  margin-bottom: 46px;
}
.newsletter {
  max-width: 432px;
}
.newsletter h6 {
  font-size: 18px;
  color: #C6C6C6;
  line-height: 1.5;
}
.newsletter-input-wrapper input {
  background: transparent;
  border: 0;
  border-bottom: 2.5px solid #0977C8;
  color: #6F6F6F;
  padding: 3px 0px;
}

.newsletter-input-wrapper .submit-btn {
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  color: #0077C8;
}
.footer-wrapper ul , .copy-right-wrapper ul  {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-wrapper h5 {
  font-size: 16px;
  line-height: 1.18;
  color: #A5A5A5;
  margin-bottom: 20px;
}
.footer-wrapper ul li a {
  font-size: 16px;
  padding-bottom: 10px;
  display: inline-block;
  color: #E6E6E6;
  transition: all 0.3s linear;
}
.footer-wrapper ul li a:hover{
  color: #0977C8;
}
.office, .office h6{
  font-size: 15px;
  color: #E6E6E6;
  margin-bottom: 0;
}
.office {
  margin-bottom: 20px;
}
.office address a{
  color: #E6E6E6;
  text-decoration: underline;
  transition: all 0.3s linear;
}
.office address a:hover{
  text-decoration: none;
}
.footer-wrapper-right-site .footer-wrapper-info:last-child{
  flex-basis: 184px;
}
.footer-wrapper-info {
  padding: 0 12px;
}
.footer-wrapper .office:last-child{
  margin-bottom: 0;
}
.main-footer-links {
  border-bottom: 0.5px solid #868686;
  padding-bottom: 78px;
  margin-bottom: 30px;
}
.footer-copyright{
  color: #868686;
}
.copy-right-wrapper ul .copy-right-link {
  color: #868686;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  font-family: "proxima-nova",sans-serif;
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #868686;
  transition: all 0.3s linear;
}
.copy-right-wrapper ul li:first-child.copy-right-link{
  color: #868686;
}
.copy-right-wrapper ul .copy-right-link:hover{
  color: #fff;
}
.copy-right-wrapper ul li:first-child.copy-right-link{
  padding-left: 0px;
}
.copy-right-wrapper ul li:last-child .copy-right-link{
  padding-right: 0px;
  border-right: 0px solid #868686;
}
.copy-right-wrapper ul li{
  display: inline-block;
}
.copy-right-wrapper ul li:last-child{
  padding-right: 0;
}
.copy-right-end-wrapper{
  gap: 51px;
}
.copy-right-end-wrapper .follow-likdin {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}
.copy-right-end-wrapper .follow-likdin a {
  margin-left: 8px;
  display: inline-block;
}
.copy-right-end-wrapper .follow-likdin a svg path#Path_267{
  transition: all 0.3s linear;
}
.copy-right-end-wrapper .follow-likdin a:hover svg path#Path_267{
  fill:#fff;
}
.copy-right-end-wrapper a img {
  opacity: 0.3;
  transition: all 0.3s linear;
}
.copy-right-end-wrapper a img:hover{
  opacity: 1;
}
/* footer area section end */

/* login page start */
.login-page-section {
  height: 100vh;
}
.login-single-logo {
  right: 22px;
  bottom: 25px;
  opacity: 0.4;
}
.login-main-img {
  padding-right: 128px;
}
.login-content {
  padding-left: 132px;
  max-width: 533px;
}
.login-content h1 {
  color: #242F45;
  margin-bottom: 18px;
}
.login-content .sl-btn {
  padding: 7.5px 24px;
  margin-bottom: 40px;
  width: calc(100% - 52px);
}
.login-content p {
  font-size: 21px;
}
/* login page end */